[Unit]
Description=Testbed Daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/home/rpi/testbed_software/bin/testbed_process

[Install]
WantedBy=multi-user.target
